.TODO

mailserver.env
setup.sh

containers/**
!containers/*

!containers/mailserver/config
!containers/mailserver/config/user-patches.sh

!containers/swag
!containers/swag/config
!containers/swag/config/nginx
!containers/swag/config/nginx/proxy-confs
!containers/swag/config/nginx/proxy-confs/healthchecks.subdomain.conf
!containers/swag/config/nginx/proxy-confs/mattermost.subdomain.conf
!containers/swag/config/nginx/proxy-confs/nextcloud.subdomain.conf
!containers/swag/config/nginx/proxy-confs/roundcube.subdomain.conf
!containers/swag/config/nginx/proxy-confs/wikijs.subdomain.conf
