.TODO
.DS_Store

containers/**
!containers/*

!containers/swag/config
!containers/swag/config/nginx
!containers/swag/config/nginx/proxy-confs
!containers/swag/config/nginx/proxy-confs/listmonk.subdomain.conf
!containers/swag/config/nginx/proxy-confs/mattermost.subdomain.conf
!containers/swag/config/nginx/proxy-confs/wiki.subdomain.conf

palladium-cert.pem
palladium-privkey.pem
